
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

/*------------------Home Welcome image  --------------*/

.welcome {

  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  background: url(../assets/img/bienvenue.jpg) center/cover;

  display: flex;
  justify-content: center;
  align-content: center;
}

.contentBienvenu {
  background: rgba(237, 224, 212, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  width: 70%;
  text-align: center;
  box-shadow: 0px 10px 1px 10px rgb(237 223 170 / 40%)
}

.contentBienvenu span {
  letter-spacing: 20px;
  font-size: 68px;
  text-shadow: 0 0 17px rgb(233 134 77);
}

.contentBienvenu p {
  color: black;
  letter-spacing: 8px;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  background: rgba(237, 224, 212, 0.6);
  border-radius: 15px;
}


/*------------------Home Carousel Begin  --------------*/
.titleCarousel {
  text-align: center; 
  height: 200px;
  background-color: rgb(214, 204, 194);
  font-size: 50px;
  align-content: center;
  font-family: DMSerif ;
  font-weight: bold;
  text-decoration: underline;
}

#cadreCarousel{
  background-color: rgba(245, 235, 224,1);
}

.slider-wrapper {
  overflow: hidden;
  /*margin: 0 70px 55px;*/
  padding: 40px;
}



.card-list .card-item{
  color: #FFF;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(227, 213, 202,1);
  border: 2px solid rgba(213, 189, 175,1);
}

.card-list .card-item .product-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
}

.card-list .card-item .product-prix {
  font-size: 25px;
  color: #fffdfd;
  font-weight: 500;
  margin: 14px 0 40px;
  text-decoration: underline;
}

.card-list .card-item .message-button {
  font-weight: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #FFF;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {

  background: rgba(255,255,255,0.1);
  border: 1px solid #FFF;
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #FFF;
  height: 15px;
  width: 15px;
}

.slider-wrapper .swiper-slide-button {
  color: #FFF;
  margin-top: -50px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button {
  color: #4658ff;
}


.swiper {

 /* height: 400px;*/
}

@media (max-width : 768px) {
  .slider-wrapper {
      margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button{
      display: none;
  }
}


/*------------------Home Carousel End  --------------*/

/*------------------En voir plus Begin   --------------*/

.cadreVoirPlus {
  height: 200px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: rgb(214, 204, 194);
}

.btnVoirPlus  {
  border-radius: 30px ; 
  height: 80px;
  width: 200px;
  border: 2px solid white;
  font-size: 20px;

}

.btnVoirPlus:hover {
  background: rgba(255,255,255,0.1);
  border: 1px solid #FFF;
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
}

/*------------------En voir plus End    --------------*/

/*------------------Presentation Marque  begin   --------------*/

.cadreMarque {

  background-color: rgba(245, 235, 224, 1);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  align-items: center;;
  height: 400px;
}

.titleMarque {
  text-align: center;
  height: 150px;
  background-color: rgba(214, 204, 194,0.4);
  font-size: 30px;
  align-content: center;
  text-decoration: underline;
  padding: 20px;
  letter-spacing: 10px;
  border-radius: 10px ;
}

.contentMarque {
  font-size: 25px;
  margin: 0px 25px 0px 25px;
  padding: 10px;
}

/*------------------Presentation Marque  End     --------------*/
/*------------------Réseaux  Begin   --------------*/
.reseau {
 
  background-color: rgba(245, 235, 224, 1);
  height: 300px ;
  text-align: center;
}
.titleReseau {
  background-color: rgba(227, 213, 202, 0.7);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;  
}


/*------------------Réseaux End      --------------*/

.footer {
  background-color: rgba(213, 189, 175,1);
  height: 150px;
}