

body {
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

header {
  height: 70px;
}

nav {
  /* position: fixed;*/
  width: 100%;
  height: 100%;
  background-color: rgba(237, 224, 212, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav * {
  margin: 5px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}


.icon {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.iconSide {
  width: 60px;
}

.iconSide a {
  width: 60px;
  height: 60px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 0px;
  margin: 0px;
}

.link {
  width: 60%;
  font-family:DMSerif ;
  font-size: 0px;
}

.link a {
  color: black;
  text-decoration: none;
}


.link ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  list-style-type: none;
}

/*------------------Menu --------------*/
/*------------------Home Welcome image  --------------*/

.welcome {

  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  background: url(../assets/img/bienvenue.jpg) center/cover;

  display: flex;
  justify-content: center;
  align-content: center;
}

.contentBienvenu {
  background: rgba(237, 224, 212, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
 /* color: black;*/
  transform: translateZ(-200px);
  font-family: 'Oswald', sans-serif;
  width: 70%;
  text-align: center;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 10px 1px 10px rgb(237 223 170 / 40%)
}

.contentBienvenu span {
  letter-spacing: 20px;
  font-size: 68px;
  text-shadow: 0 0 17px rgb(233 134 77);
}

.contentBienvenu p {
  letter-spacing: 20px;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
}


/*------------------Home Carousel --------------*/
.titleCarousel {
  text-align: center; 
  height: 200px;
  background-color: rgb(214, 204, 194);
  font-size: 50px;
  align-content: center;
  font-family: DMSerif ;
  font-weight: bold;
  text-decoration: underline;
}

/* styles.css */
.carousel-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px; /* Set a max width for the carousel */
  margin: auto;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

#ligne {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 12.5%; /* 100% / 8 items visible at a time = 12.5% each */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background: #ccc;
  margin: 5px;
}

button.prev, button.next {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev:hover, button.next:hover {
  background: #555;
}
